<% include head/header %>
  <h1>2014.11.23 park concert</h1>
  <script type="text/javascript">
    var num = <%= id %>;
  </script>
  <script type="text/javascript" src="/javascripts/getusermedia.js"></script>
